.jumbotron {
    background-color: rgb(182, 65, 65);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(182, 65, 65);
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-icon {
    margin-right: 10px;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-info {
    width: 100%;
}

.imgstyle {
    margin: 10px 0px 15px 0px
}